<nav>
  <ul class="outbound-page-link-list">
    {% if previous_page_url %}
      <li class="outbound-page-link-item">
        <a class="outbound-page-link outbound-page-link--previous" href="{{ previous_page_url }}">
          {{ previous_page_link_title }}
        </a>
      </li>
    {% endif %}
    {% if outbound_url %}
      <li class="outbound-page-link-item">
        <a class="outbound-page-link outbound-page-link--outbound" href="{{ outbound_url }}" target="_blank">
          {{ outbound_link_title }}
        </a>
      </li>
    {% endif %}
  </ul>
</nav>
